.container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contents {
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.content {
    border: 2px solid white;
    display: flex;
    justify-content: left;
    padding: 1%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 1%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}

.btn {
    display: flex;
    border: 2px solid gray;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: 500;
    color: black;
    border-radius: 999px;
    /* fully rounded ends */
    cursor: pointer;
    width: 300px;
    justify-content: center;
    justify-items: center;
}

.add-to-cart {
    background-color: #fcd920;
    /* Yellow */
    margin: 5px;
}

.buy-now {
    background-color: #fca326;
    /* Orange */
    margin-bottom: 5px;
}

.buy-all {
    background-color: white;
    color: black;
    padding: 5px;
    margin: 5px;
}


/* .cont {
    margin-top: -20px;
} */